.weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url("https://lh3.googleusercontent.com/tFLhMKVH90elgpEiYflqzUv8W6sBlefoxkFH7TpmT-8bRWpIJQaEl6GZjAZ9RIPUziZhtRU9=w640-h400-e365");
    box-shadow: 1px 1px 5px black;
    padding: 30px;
    border-radius: 10px;
    visibility: hidden;
    width:100%;
}
.weatherContainer h1 {
    margin: 5px;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.searchContainer {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.weatherMain {
    display: block;
    margin-bottom: 20px;
}
.weatherMain div {
    display: inline-block;
}
.weatherDescriptionHeader {
    font-size: 22px;
    vertical-align: 50%;
}
.temperature {
    font-size: 38px;
    vertical-align: 25%;
}
.bottom-details {
    display: block;
    font-size: 15px;
    text-align: right;
}
hr {
    margin-bottom: 20px;
}
.preview-images-zone {
    border: 1px solid #ddd;
    width: 100%;
    min-height: 150px;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}
.preview-images-zone > .preview-image:first-child {
    height: 140px;
    width: 140px;
    position: relative;
    margin-right: 5px;
}
.preview-images-zone > .preview-image {
    height: 120px;
    width: 120px;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}
.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}

.container {
    padding-top: 50px;
}
    .pb-cmnt-textarea {
        resize: none;
    }
.multiselect {
 position: absolute;
   z-index:1;
   height:70px; 
   max-height: 90px;
   overflow-y: scroll;
   overflow:auto;
background-color:  #ffffff;;
   
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000000;
  outline: 2px solid slategrey;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
    